.draw-pile {
  background: none;
  border: none;
  padding: 0;
  cursor: grab;
  position: absolute;
  bottom: -150px; /* Adjust as needed */
  left: 0;
  outline: none;
}

.draw-pile img {
  width: 100px; /* Adjust as needed */
  height: auto;
  display: block;
  transition: filter 300ms;
}

.draw-pile:hover img {
  filter: drop-shadow(0 0 1em #6fff00ce); /* Glow effect */
}

.draw-pile figure {
  margin: 0 auto;
  position: relative;
}

.draw-pile figcaption {
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}

.discard-card {
  background: none;
  border: none;
  padding: 0;
  cursor: grab;
  position: absolute;
  bottom: -150px; /* Adjust as needed */
  left: 150px;
  outline: none;
}

.discard-card img {
  width: 100px; /* Adjust as needed */
  height: auto;
  display: block;
  transition: filter 300ms;
}

.discard-card:hover img {
  filter: drop-shadow(0 0 1em #ff230fce); /* Glow effect */
}

.discard-card figure {
  margin: 0 auto;
  position: relative;
}

.discard-card figcaption {
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}

.drawn-card {
  background: none;
  border: none;
  padding: 0;
  cursor: grab;
  position: absolute;
  bottom: -150px; /* Adjust as needed */
  left: 600px;
  outline: none;
}

.drawn-card img {
  width: 100px; /* Adjust as needed */
  height: auto;
  display: block;
  transition: filter 300ms;
}

.drawn-card:hover img {
  filter: drop-shadow(0 0 1em #ffd70fce); /* Glow effect */
}

.drawn-card figure {
  margin: 0 auto;
  position: relative;
}

.drawn-card figcaption {
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}
