.player-hand {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 10px;
}

.player-hand span {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: white;
  background-color: rgb(67, 162, 126);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: grab;
  outline: none;
  position: relative;
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.card span {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: medium;
  background-color: rgba(240, 248, 255, 0.877);
}

.card img {
  max-width: 100%;
  max-height: 125px;
  height: auto;
  width: auto;
  object-fit: contain;
}

.card:hover img {
  box-shadow: 0 0 10px rgb(255, 255, 255); /* Adjust color and intensity as needed */
  transition: box-shadow 0.1s ease-in-out;
}
